<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light pt-3">
    <div class="container">
      <a class="navbar-brand" routerLink=""
        ><img src="assets/shop.png" style="height: 40px ;" alt=""
      /></a>
      <div class="d-flex flex-column py-2">
        <button
          class="navbar-toggler w-100"
          type="button"
          data-toggle="collapse"
          data-target="#navbarTogglerDemo02"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item px-2">
              <a class="nav-link" title="Delete" (click)="delete()"
                ><i class="fa-solid fa-trash"></i
              ></a>
            </li>
            <li class="nav-item px-2">
              <a class="nav-link" title="Edit" (click)="view()"
                ><i class="fa-solid fa-pen-to-square"></i
              ></a>
            </li>
            <li class="nav-item px-2">
              <a class="nav-link" (click)="signOut()" title="SignOut"
                ><i class="fa-solid fa-right-from-bracket"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
<div class="card radius-10">
  <div class="card-body text-center">
    <div>
      <h2 style="text-transform: capitalize">
        {{ dataSource.shopname }}
        <br /><span class="font-monospace" style="font-size: small"
          >{{ dataSource.category }} @ {{ dataSource.city }}</span
        >
      </h2>
      <img [src]="dataSource.image" alt="" />
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-md-center">
      <div
        class="col-md-5 card-body px-5 shadow m-2 bg-white rounded text-center"
      >
        <i class="fa-solid fa-location-dot"></i>
        <h6 class="pt-2">{{ dataSource.address }}</h6>
      </div>
      <div
        class="col-md-5 card-body px-5 shadow m-2 bg-white rounded text-center"
      >
        <i class="fa-solid fa-phone"></i>
        <h6 class="pt-2">{{ dataSource.phone }}</h6>
      </div>
    </div>
  </div>
</div>
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{ display: displayStyle }"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content wrapper">
      <div class="modal-header">
        <div class="text-center mt-2 mb-3 name">ADD SHOP</div>
      </div>
      <div class="modal-body">
        <div class="container">
          <form #addshop="ngForm" (ngSubmit)="edit()">
            <div class="col-sm mx-1">
              <div class="form-field d-flex align-items-center">
                <span><i class="fa-solid fa-shop"></i></span>
                <input
                  type="text"
                  name="shopname"
                  id="shopname"
                  minlength="4"
                  maxlength="256"
                  placeholder="Shop Name"
                  [(ngModel)]="shop.shopname"
                  #shopname="ngModel"
                  required
                />
                <small [class.d-none]="shopname.valid" class="px-3 text-danger"
                  ><i class="fa-solid fa-xmark"></i
                ></small>
                <small
                  [class.d-none]="shopname.invalid"
                  class="px-3 text-success"
                  ><i class="fa-solid fa-check"></i
                ></small>
              </div>
              <div class="form-field d-flex align-items-center">
                <i class="fa-solid fa-shop"></i>
                <select
                  type="text"
                  name="category"
                  id="category"
                  [(ngModel)]="shop.category"
                  #category="ngModel"
                  [class.is-invalid]="category.invalid && category.touched"
                  required
                >
                  <option value="" disabled selected>Select Category</option>
                  <option
                    *ngFor="let category of categories"
                    [value]="category"
                  >
                    {{ category }}
                  </option>
                </select>

                <small [class.d-none]="category.valid" class="px-3 text-danger"
                  ><i class="fa-solid fa-xmark"></i
                ></small>
                <small
                  [class.d-none]="category.invalid"
                  class="px-3 text-success"
                  ><i class="fa-solid fa-check"></i
                ></small>
              </div>
              <div class="form-field d-flex align-items-center">
                <span><i class="fa-solid fa-location-dot"></i></span>
                <input
                  type="text"
                  name="address"
                  id="address"
                  minlength="4"
                  maxlength="256"
                  placeholder="Address"
                  [(ngModel)]="shop.address"
                  #address="ngModel"
                  required
                />
                <small [class.d-none]="address.valid" class="px-3 text-danger"
                  ><i class="fa-solid fa-xmark"></i
                ></small>
                <small
                  [class.d-none]="address.invalid"
                  class="px-3 text-success"
                  ><i class="fa-solid fa-check"></i
                ></small>
              </div>
              <div class="form-field d-flex align-items-center">
                <span><i class="fa-solid fa-city"></i></span>
                <input
                  type="text"
                  name="city"
                  id="city"
                  minlength="4"
                  maxlength="64"
                  placeholder="City"
                  [(ngModel)]="shop.city"
                  #city="ngModel"
                  required
                />
                <small [class.d-none]="city.valid" class="px-3 text-danger"
                  ><i class="fa-solid fa-xmark"></i
                ></small>
                <small [class.d-none]="city.invalid" class="px-3 text-success"
                  ><i class="fa-solid fa-check"></i
                ></small>
              </div>
              <div class="form-field d-flex align-items-center">
                <span><i class="fa-solid fa-phone"></i></span>
                <input
                  type="text"
                  name="phone"
                  id="phone"
                  minlength="10"
                  maxlength="10"
                  placeholder="Phone"
                  [(ngModel)]="shop.phone"
                  #phone="ngModel"
                  required
                />
                <small [class.d-none]="phone.valid" class="px-3 text-danger"
                  ><i class="fa-solid fa-xmark"></i
                ></small>
                <small [class.d-none]="phone.invalid" class="px-3 text-success"
                  ><i class="fa-solid fa-check"></i
                ></small>
              </div>
              <div class="form-field d-flex align-items-center">
                <i class="fa-solid fa-image"></i>
                <input
                  class="form-control form-control-sm"
                  type="file"
                  name="file"
                  id="file"
                  accept="image/*"
                  [(ngModel)]="photo"
                  #image="ngModel"
                  (change)="selectFile($event)"
                  placeholder="Photo"
                  ngModel
                />
                <!-- <small [class.d-none]="image.valid" class="px-3 text-danger"
                  ><i class="fa-solid fa-xmark"></i
                ></small>
                <small [class.d-none]="image.invalid" class="px-3 text-success"
                  ><i class="fa-solid fa-check"></i
                ></small> -->
              </div>
              <button class="btn mt-3" [disabled]="addshop.form.invalid">
                SUBMIT
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="button" (click)="closeview()">
          <i class="fas fa-window-close"></i>
        </button>
      </div>
    </div>
  </div>
</div>

